<div class="ml-3 mt-2">
  >  <a href="/"> home </a> / <a href="/blog/editor">Editor</a>
</div>

<div class="blog-editor-page">


<section class="blog-section my-1 mx-auto container ">
 <h1 class="flex">Editor</h1> 


   <h1><input id="blog-title" class="blog-title" type="text" placeholder="Title"> </h1>
        <div id="blog-editor card" class="blog-editor mx-auto" contenteditable="true" aria-placeholder="Start Typing" ></div>
       
<div class="editor-options my-1">
<button class="btn" onclick="document.getElementById('addImg').click()">Add Image</button>
  <input type='file' id="addImg" style="display:none">
    <button class="btn" type="submit" id="submit">Submit</button>
    
</div>
 

</section>  
</div>
    
    <script src="../public/javascript/editor.js"></script>