<style>
    .error-card{
        width: 50vw;
        height: 30vh;
       margin: 3rem auto;
        padding-top: 4rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.2);
    }
</style>
<div class="mt-2 text-center error-card">
  <div >{{error}}</div> 
   Click here to <a style="color:blue ;" href="/user/login"> Login  </a>

</div>
