
<div class="section flex">
    
<div class="homepage-text">
<h1 class="text-center my-3 ">
    Welcome To Blogspot
</h1>
<h2 class="text-center text-light"> Create awesome Blogposts and publish them online. <a style="color:blue" href="/blog/editor">Get Started</a> </h2>

</div>

<div class="homepage-img">
   <img src="../public/images/istockphoto-1253922154-612x612.jpeg" alt="">
</div>

</div>

