 <section class="my-3">
 <h1 class="flex ">Login Page</h1>

    <div class="flex">
        <form action="/user/login" method="post">

           <div>Email :</div> <div><input type="email" name="emailId" id="email"> </div> 
           <div>Password :</div> <div> <input type="password" name="password" id="password"> </div>
    
            <button class="btn" type="submit" id="submit">Submit</button> 
             <div> New user? <a href="/user/signup"> Click here to Signup</a> </div>
        </form>

        <script src="../public/javascript/login.js"></script>
    

    </div>
    
 </section>