<section class="flex">
    <form id="registerForm"  method="POST">
        <div>Name</div> <div><input type="text" name="name" ></div> 
        <div>EmailId</div> <div> <input type="email" name="email" >  </div>
        <div>Password</div> <div> <input type="password" name="password" id=""> </div>
        <div> <button class="btn" id="register" type="submit" >Register</button>  </div>
        <div>Account Already Exists? <a href="/user/login" class="btn" >Login</a> </div>
    </form>
</section>

<script src="../public/javascript/register.js"></script>